# Project information
site_name: Ticklepedia
site_url: https://sitename.example
site_author: jespervb/fluftickles
site_description: >-
  This website will contain knowledge about the knismologia community.

# Repository
repo_name: jespervb/Ticklepedia
repo_url: https://github.com/jespervb/ticklepedia

theme:
  features:
    - navigation.footer
    - navigation.top
    - navigation.path
    - navigation.tabs 
    - toc.follow
    - search.suggest
    - search.highlight
    - content.code.copy

  name: material
  logo: assets/logo.png
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    logo: logo

markdown_extensions:
  - toc:
        title: On this page
        permalink: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

plugins:
  - search
  - tags:
      TestTag: test

nav:
  - Home: homepage.md
  - Guides:
    - guides/etiquette.md
  - About: about.md